body {
  background-color: #E3E3E3;
}

.achtergrond {
  width: 100%;
}

.verlof {
  font-size    : 16px;
  color        : #464646;
  margin-top   : 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 2px;
  text-transform: none;
}

/* .logo {
  width        : 10%;
  margin-top   : -11%;
  margin-left  : 3%;
  border-radius: 50%;
} */