body {
    font-family: helvetica;
}

.copyright {
    bottom: 0;

    text-align: center;
    color     : black;
    padding   : 10px;
}

.copyPos {
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    margin: 0;
}

/* .locatieIMG {
    position: relative;
    margin-left: 40%;
    top: 30px;
}
  */
.locatieLogo {
    width: 30px;
}

a {
    text-decoration: none;
}

.locatie {
    color: black;
}

.locatieKaart {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 50%;
    margin-left: 25%;
    height: 450px; 
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    position: relative; 
}

.locatieKaart iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: 0; 
}

.lijn {
    width         : 75%;
    padding-bottom: 25px;
    margin        : 25px;
    border-bottom : 2px solid lightgrey;
    margin        : 0 auto;
}

.specTitle {
    text-align    : center;
    font-size     : 30px;
    color         : rgb(82, 82, 82);
   
}

.scrolldown-container {
    position: relative;
    bottom: 20px; 
    margin-left: 49.25%;
}

.scrolldown-mouse {
    margin-left: 0 auto;
    width: 30px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 25px;
    position: relative;
}

.scrolldown-dot {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 5px; 
    left: 30.5%; 	
    transform: translateX(-50%);
    animation: scrolldown-dot-animation 1.5s infinite;
}

@keyframes scrolldown-dot-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes scrolldown-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

iframe {
    border-radius: 5px;
}

@media screen and (max-width: 500px) {

    .locatieKaart {
        margin-top   : 50px;
        margin-bottom: 50px;
        width        : 80%;
        margin-left  : 10.5%;
        height       : 450px;

    }
}

@media screen and (max-width: 1100px) {

    .scrolldown-container {
        display: none;

    }
    
    .scrolldown-mouse {
        display: none;

    }
    
    .scrolldown-dot {
        display: none;
    }
}

/* .locatie {
    text-align: center;
    text-decoration: none;
    color: black;
} */
/* <div class="locatieFooter">
<div class="imgPos">
    <img class="locatieLogo" src="images/locatie.png">
</div>
<div class="locatiePos">
<a href="https://www.google.be/maps/place/Bakker+Sam/@50.8099459,3.6220642,17z/data=!3m1!4b1!4m5!3m4!1s0x47c30fd21fa3bd83:0x176555f3000d2185!8m2!3d50.8099442!4d3.6242385" target="_blank">
    <p class="locatie">Nederholbeekstraat 17, 9680 Etikhove<p>
</a>
</div>
</div> */

.locatieFooter {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-bottom  : -20px;
}

#countdown {
    font-size  : 2em;
    font-weight: bold;
    color      : #000;
    text-align : center;
    margin     : 0;
    padding    : 0;
}

.klok {
    width        : 30px;
    margin-left  : 220px;
    margin-bottom: -29;
    cursor       : pointer;
}

.tijd {
    width      : 30px;
    margin-top : -30.5px;
    margin-left: -200px;
}

.openingstijden {
    margin-top     : 20px;
    margin-bottom  : 200px;
    font-size      : 20px;
    font-weight    : bold;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.closed::after {
    color  : red;
    content: "openingstijden";
}

.closed:hover::after {
    color           : white;
    background-color: red;
    content         : "We zijn gesloten";
    border-radius   : 20px;
    padding         : 5px;
}

.open::after {
    color        : #8CC63F;
    content      : "openingstijden";
    border-radius: 20px;
    padding      : 5px;

}

.open:hover::after {
    color           : white;
    background-color: #8CC63F;
    content         : "We zijn open";
}

h1 {
    font-size     : 16px;
    font-weight   : 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size     : 14px;
    font-weight   : 400;
    letter-spacing: 0.5px;
    color         : red;
}

table {
    border-collapse: collapse;
    font-size      : large;
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

#currdate {
    border: 0.5px solid black;
}

#currdate>td {
    color      : black;
    font-weight: 600;
}

#currdate>td>span {
    color: black;
}

.opening-hours {
    overflow        : hidden;
    box-shadow      : 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    padding         : 1em;
    max-width       : 450px;
    min-width       : 320px;
}


.dayC>td {
    font-size     : 12px;
    font-weight   : 400;
    letter-spacing: 1.2px;
    color         : #A299AC;
    text-transform: uppercase;
    padding       : 1em;
}

.dayC>td>span {
    font-size     : 12px;
    font-weight   : 600;
    letter-spacing: 1.2px;
    color         : #A299AC;
    text-transform: uppercase;
}

@media screen and (max-width: 382px) {

    .dayC>td {
        font-size: 14px;
        padding  : 15px 5px;
    }

    #activerow {
        border          : none;
        background-color: #8CC63F;
    }

    #activerow>td {
        color      : white;
        font-weight: 600;
    }

    #activerow>td>span {
        color: white;
    }

}

#countdown {
    color    : #8CC63F;
    font-size: large;
}

.reviewContainer {
    height         : auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    flex-flow      : wrap;
    margin-bottom  : 100px;
}

.review {
    width           : 300px;
    height          : 150px;
    background-color: rgb(231, 231, 231);
    margin          : 20px;
    box-sizing      : border-box;
    font-size       : 50px;
    transition      : 0.5s;
    border-radius   : 20px;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.ster {
    width     : 30px;
    margin-top: 20px;
}

.naamReview {
    color        : black;
    font-size    : 15px;
    font-weight  : bold;
    margin-bottom: 0;
}

.reviewText {
    color    : black;
    font-size: 15px;
}

.privacy {
    text-align: center !important;
    color     : black !important;
}

.privacyLink {
    color          : black !important;
    text-decoration: underline !important;
}