body {
    background-color: #f2f2f2;
}

.containerproducten {
    background-color: #f4f0eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 150px;
    margin-bottom: 150px;;
}

.box {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    font-size: 50px;
    height: 350px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    width: 300px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}



.prodtext {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 0;
}


.prodtextLang {
    width          : 100%;
    margin-top     : 60%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    font-size      : 32px;
    transition     : 0.5s;
}

.product {
    margin-top   : 1px;
    width        : 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titel {
    background-color: #2d2d2d; /* Donkere achtergrondkleur voor een modern uiterlijk */
    color: #ff0000; /* Opvallende tekstkleur */
    padding: 30px; /* Meer ruimte rondom de tekst */
    text-align: center;
    width: 400px; /* Iets breder voor een ruimtelijker gevoel */
    margin: 50px auto;
    border-radius: 30px; /* Meer afgeronde hoeken voor een eigentijds effect */
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.7); /* Zachte schaduw voor diepte */
    font-size: 24px; /* Kleinere lettergrootte voor een strak uiterlijk */
    font-weight: bold; /* Vetgedrukte tekst voor nadruk */
    transition: background-color 0.5s, color 0.5s; /* Soepele overgangseffecten */
}

.titel:hover {
    background-color: #00bfff; /* Verander de achtergrondkleur bij hover voor interactie */
    color: #2d2d2d; /* Verander de tekstkleur bij hover voor contrast */
}


